@{
    ViewData["Title"] = "About";
}

<style>
    body{
        font-family: 'Open Sans Condensed', sans-serif;
        background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?cs=srgb&dl=-62693.jpg&fm=jpg');
    }
</style>

<body>
    <h2 style="margin-top:50px">@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>
</body>